.HeaderHolder {
  background: #7855c7;
  color: #fff;
  display: flex;
  align-items: stretch;
  height: 3.5em;
}

h1 {
  font-size: 1.5em;
  font-family: "Pacifico", sans-serif;
  text-transform: lowercase;
  text-shadow: 0.05em 0.1em 0 rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.1);
  position: relative;
  display: flex;
  flex-flow: column;
}

h1 a {
  flex: 1;
  line-height: 2.2;
  padding: 0 0.5em 0 0.7em;
  color: inherit;
  text-decoration: underline;
}

.HeaderLoginPartial {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
  overflow: hidden;
}

.Footer {
  padding: 0.5em;
  font-size: 1.5em;
  color: #444;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  opacity: 0.2;
  font-family: "Pacifico", sans-serif;
}

.Footer a {
  text-decoration: none;
  color: inherit;
}

.CreateRoom {
  display: flex;
  align-items: stretch;
  padding: 1em;
}

.CreateRoomLeft {
  width: 36em;
  margin-right: 0.5em;
  display: flex;
  flex-flow: column;
}

.CreateRoomBox {
  flex: 1;
  margin-bottom: 0em;
  position: relative;
  padding: 1em;
  background: #eee;
  border: 1px solid #ccc;
  box-shadow:
    0 0 1em rgba(0, 0, 0, 0.05),
    0 0.2em 0.3em rgba(0, 0, 0, 0.05),
    0 0 0.2em inset rgba(255, 255, 255, 0.5);
  border-radius: 0.25em;
}

.CreateRoomBox::before {
  pointer-events: none;
  content: " ";
  position: absolute;
  z-index: 1;
  top: 0.2em;
  left: 0.2em;
  right: 0.2em;
  bottom: 0.2em;
  border: 2px dashed rgba(0, 0, 0, 0.1);
}

.CreateRoomBox header {
  margin-bottom: 0.5em;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  color: #164158;
  font-weight: bold;
}

.GameSelection {
  display: flex;
  margin-bottom: 0.5em;
  padding-bottom: 0.25em;
  overflow-x: scroll;
  overflow-y: hidden;
}

.GameSelection > div {
  display: inline-block;
}

.GameSelection label {
  display: flex;
  flex-flow: column;
  padding: 0.25em;
  margin-right: 0.25em;
  width: 8em;
  height: 10em;
  background: #ddd;
  border-radius: 0.25em;
  cursor: pointer;
  text-align: center;
}

.GameSelection .icon {
  font-size: 3em;
  margin: 0.25em 0;
}

.GameSelection .name {
  font-weight: bold;
  color: #555;
}

.GameSelection .description {
  padding-left: 0.25em;
  color: #555;
  font-size: small;
}

.line {
  display: flex;
  align-items: center;
}

.line .input {
  flex: 1;
  margin-right: 0.5em;
  width: 0;
  min-width: 0;
  padding: 0.4em;
  border-radius: 0.2em;
  background: #fff;
  border: 1px solid #bbb;
  color: #222;
}

.line label {
  border-top: 2px solid rgba(0, 0, 0, 0.15);
  border-bottom: 0;
  background: #2383d8;
  box-shadow: none;
}

.line label {
  padding: 0.4em 0.8em;
  color: #fff;
  font-weight: bold;
  border: none;
  user-select: none;
  cursor: pointer;
  outline: none;
}

input.syled {
  box-shadow: 0 2px rgba(32, 32, 32, 0.05) inset;
}

input.styled,
input.styled:disabled,
textarea.styled,
select.styled {
  padding: 0.4em;
  border-radius: 0.2em;
  background: #fff;
  border: 1px solid #bbb;
  color: #222;
}

button.styled {
  margin-left: 0.5em;
  padding: 0.4em 0.8em;
  color: #fff;
  font-weight: bold;
  background: #26aa36;
  border: none;
  border-radius: 2em;
  border-bottom: 2px solid rgba(0, 0, 0, 0.15);
  box-shadow:
    0 0 0.2em 0 rgba(0, 0, 0, 0.1),
    0 2px 0 0 rgba(0, 0, 0, 0.1);
  user-select: none;
  cursor: pointer;
  outline: none;
}

button.styled:hover {
  background: #3dbd31;
}

.line label:first-of-type {
  border-right: 0;
  border-radius: 2em 0 0 2em;
  padding-left: 1em;
  padding-right: 0.6em;
}

.line label:last-of-type {
  border-radius: 0 2em 2em 0;
  padding-left: 0.6em;
  padding-right: 1em;
}

.line label {
  background: #3ba3ff;
  padding: 0.4em 0.8em;
  color: #fff;
  font-weight: bold;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.15);
  box-shadow:
    0 0 0.2em 0 rgba(0, 0, 0, 0.1),
    0 2px 0 0 rgba(0, 0, 0, 0.1);
  user-select: none;
  cursor: pointer;
  outline: none;
}

.line label:hover {
  background: #63b6ff;
}

.line label.selected {
  border-top: 2px solid rgba(0, 0, 0, 0.15);
  border-bottom: 0;
  background: #2383d8;
  box-shadow: none;
}

.line label:active {
  border-top: 2px solid rgba(0, 0, 0, 0.15);
  border-bottom: 0;
  box-shadow: none;
}

button.styled:active {
  border-top: 2px solid rgba(0, 0, 0, 0.15);
  border-bottom: 0;
  box-shadow: none;
}

.CreateRoomRight {
  flex: 1;
  margin-left: 0.5em;
  display: flex;
  flex-flow: column;
}

.JoinRoom {
  margin-bottom: 0em;
  position: relative;
  padding: 1em;
  background: #eee;
  border: 1px solid #ccc;
  box-shadow:
    0 0 1em rgba(0, 0, 0, 0.05),
    0 0.2em 0.3em rgba(0, 0, 0, 0.05),
    0 0 0.2em inset rgba(255, 255, 255, 0.5);
  border-radius: 0.25em;
}

.JoinRoom::before {
  pointer-events: none;
  content: " ";
  position: absolute;
  z-index: 1;
  top: 0.2em;
  left: 0.2em;
  right: 0.2em;
  bottom: 0.2em;
  border: 2px dashed rgba(0, 0, 0, 0.1);
}

.JoinRoom header {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  color: #164158;
  margin-bottom: 1em;
  font-weight: bold;
}

.JoinRoom input[type="text"] {
  text-transform: uppercase;
  margin: 0 0.5em;
  flex: 1;
}

.Rooms {
  flex: 1;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-flow: column;
  background: #eee;
  padding: 1em;
}

.Rooms .header {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.Rooms .header header {
  flex: 1;
  margin-bottom: 0;
  padding-right: 0.5em;
  font-weight: bold;
}

.Rooms .RoomList {
  position: relative;
}

button.styled.blue {
  background-color: #3ba3ff;
}

button.styled.blue:hover {
  background-color: #63b6ff;
}

.RoomList .list {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
}

.RoomList .list .item:not(:nth-of-type(3n)) {
  margin-right: 1em;
}

.RoomList .list .item {
  background: #e5c094;
  width: calc(33% - 0.5em);
  display: flex;
  margin-bottom: 1em;
  border: 1px solid #09090940;
  text-decoration: none;
  color: #3c3733;
  box-shadow:
    0 0 0.5em rgba(0, 0, 0, 0.05),
    0 0.2em 0.5em rgba(0, 0, 0, 0.05);
  transform: rotate(-2deg);
}

.RoomList .list .item:hover {
  margin-top: -0.1em;
  margin-bottom: 1.1em;
  box-shadow:
    0 0.25em 0.5em rgba(0, 0, 0, 0.05),
    0 0.45em 0.5em rgba(0, 0, 0, 0.05);
}

.RoomList .list .item:active {
  border: 1px solid #888;
  transition: none;
  margin-top: 0.1em;
  margin-bottom: 0.9em;
  box-shadow: none;
}

.RoomList .list .item .info {
  flex: 1;
  padding: 0.5em;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.05);
  margin: 0.3em;
  border: 2px dashed rgba(0, 0, 0, 0.2);
  border-radius: 0.25em;
  border-right: none;
}

.RoomList .list .item .info .title {
  font-weight: bold;
  font-size: 1.25em;
  display: flex;
  align-items: center;
  margin-bottom: 0.25em;
}

.RoomList .list .item .info .title .text {
  white-space: nowrap;
  overflow: hidden;
  font-size: 0.75em;
  text-overflow: ellipsis;
}

.RoomList .list .item .info .title .playerCount {
  font-size: 0.6em;
  margin-left: 0.5em;
  background: #0000001f;
  padding: 0.25em 0.5em;
  border-radius: 1em;
}

.RoomList .list .item .info .playing {
  font-size: smaller;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.RoomList .list .item .stub {
  width: 3.5em;
  border-left: 2px dashed #7c606082;
  display: flex;
  align-items: center;
  position: relative;
}

.RoomList .list .item .stub .code {
  white-space: nowrap;
  transform: rotate(-90deg);
  font-weight: bold;
  transform-origin: center;
  color: rgba(0, 0, 0, 0.3);
  margin-left: -0.25em;
  background: #5a555321;
  font-family: monospace;
  padding: 0 0.25em;
  font-size: 20px;
}

.RoomList .list .item .stub .cutout {
  width: 1em;
  height: 2em;
  position: absolute;
  right: -2px;
  border-radius: 1em 0 0 1em;
  background: #dedede;
  border: 1px solid #09090960;
  border-right: transparent;
  box-shadow: 0 0 0.5em #eee inset;
}

.GameHeader {
  display: flex;
  justify-content: space-between;
  background-color: rgb(120, 85, 199);
  color: rgb(238, 238, 238);
}

.GameHeaderLeft {
  display: flex;
  gap: 1px;
}

.GameCode {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.5em;
  cursor: copy;
  user-select: none;
}

.GameCode:active {
  background-color: rgba(32, 32, 32, 0.5);
}

.GameCodeBlurred {
  filter: blur(0.2em);
}

.GameInfo {
  padding: 0.5em;
}

.GamePlayerNum {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 1em;
  padding: 0.125em 0.5em;
}

.GameOwnerInfo {
  opacity: 0.5;
}
