.HomeHolder {
  display: flex;
  flex-flow: column;
  flex: 1;
}

.HomeBanner {
  background-image: url("/src/assets/banner@2x.png");
  height: 180px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.HomeBanner::before {
  content: "";
  z-index: 1;
  width: 66px;
  height: 63px;
  position: absolute;
  top: -63px;
  left: calc(50% - 33px);
  background: url("/src/assets/flag@2x.png");
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  background-size: cover;
  background-position: center bottom;
}
